@font-face {
    font-family: avengeance;
    src:    url(fonts/AVENGEANCE\ HEROIC\ AVENGER.otf),
            url(fonts/AVENGEANCE\ HEROIC\ AVENGER.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: avengeance;
}

body {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 98vw; 
    height: 98vh; 
    background-image: url(src/background_avengers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

main {
    display: grid;
    margin-right: auto;
    margin-left: 30px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
}

.card {
    display: block;
    cursor: pointer;
    width: 125px;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
}

.counter, .timer {
    /* margin-bottom: auto; */
    font-size: 40px;
}

audio {
    /* margin-bottom: auto; */
    height: 80%;
}
video {
    width: 100%;
    height: 100%;
    display: none;
}

img {
    display: none;
    margin-right: auto;
    /* float: left; */
    height: 70vh;
    width: 50vw;
}

button {
    display: none;
    margin-right: auto;
    margin-left: 100px;
    width:300px;
    height:100px;
    border-radius: 10%;
    background-color: red;
    color: yellow;
    font-size: 50px;
    cursor: pointer;
}